*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-image: url(../img/fondoindex.jpg);
  font-size: 22px;;
}

#container{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 3.75fr 8.75fr 1fr 8.75fr 3.75fr;
  grid-template-rows: 10vh 8vh 30vh 4vh 30vh 7.8vh 10vh;
}

#container .cabecera{
  padding: 9px;
  background-image: url(../img/fondocabeceraipie.jpg);
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 1/2;
}

#container .texto1{
  padding: 9px;
  background-color:#008336;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
}

#container .imagen1{
  padding: 9px;
  background-color:#4E6516;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 3/4;
}

#container .texto2{
  padding: 9px;
  background-color:#CBFFF9;
  border-radius: 5px;
  grid-column: 4/5;
  grid-row: 2/3;
}

#container .imagen2{
  padding: 9px;
  background-color:#F7FFFF;
  border-radius: 5px;
  grid-column: 4/5;
  grid-row: 3/4;
}

#container .texto3{
  padding: 9px;
  background-color:#F23939;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 6/7;
}

#container .imagen3{
  padding: 9px;
  background-color:#8B0022;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 5/6;
}

#container .texto4{
  padding: 9px;
  background-color:#73C8FF;
  border-radius: 5px;
  grid-column: 4/5;
  grid-row: 6/7;
}

#container .imagen4{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
  grid-column: 4/5;
  grid-row: 5/6;
}

#container .pie{
  padding: 9px;
  background-image: url(../img/fondocabeceraipie.jpg);
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 7/8;

}

  img{
    width: 100%;
    height: 100%;
  }
